<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.scss">

</head>
 <body>
<div id = "app">
                       
        <header id = "header"class ="box">
            <div class ="holder headline">
             Travel Plan App
            </div>
        </header>
          <!--Displaying city-->
        <div id = "sidebar-left" class ="box">
            <form action="" method="get" class="form">
              <div class="form">
                <label for="city">Enter City</label>
                <input type="text" id="city",placeholder ="Enter city here" >
              </div>
            </form>
        </div>
         <!-- "entry holder div for start date and end date -->
       
        <div id = "sidebar-right" class ="box">
      
              <div id ="entryHolder">
                <div> <label for="date">Start Date :</label>
                      <input type="date" id="mydate", placeholder ="Start date"></div>
                      <div> <label for="End date">End Date :</label>
                        <input type="date" id="myenddate", placeholder ="End date"></div>
             </div>
              <!--generate button-->
            <button id="generate" type = "button"> Generate </button>
        </div>

        <!-- displaying total trip days,latitude,longitude,country,temperature,precipitation,snow and Image-->
      <footer id = "footer" class ="box">
         <section id ="section">
          <table>
              <tr><td>  <label for ="totaltripdays">Total days of Trip:</label></td>
              <td><div id = "totrdy"></div></td></tr>

              <tr><td>  <label for ="latitude">Latitude:</label></td>
              <td><div id = "latitude"></div></td></tr>

              <tr><td><label for ="longitude">Longitude:</label></td>
              <td> <div id ="longitude"></div></td></tr>

              <tr><td> <label for ="country">Country:</date></td>
              <td>  <div id ="country"></div></td></tr>
              
             <tr> <td><label for ="temperature">Temperature: </label></td>
                <td>  <div id ="temper"></div></td></tr>

              <tr> <td><label for ="precipitation">precipitation: </label></td>
              <td>  <div id ="precip"></div></td></tr>

                <tr> <td><label for ="snow">Snow: </label></td>
                <td>  <div id ="snow"></div></td></tr>

                <tr> <td><label for ="image">Image :  </label></td>
                  <td>  <div id ="image"></div></td></tr>
          </table>
        </section>
  
    </footer>
 </div>
 
 <script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  }
</script>

</body>
</html>